#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    gap: 12vh;

  overflow: auto;
    @media (max-width: 1064px) {
      gap: 2vh;
  } 

}

#div_cards{
    display: flex;
    gap: 1rem;
    width: 80%;
    
    justify-content: center;
  
    @media (max-width: 1500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  

}


#div_info{
    display : flex;
    width: 80%;
    align-items: center;
    gap: 7vw;

    @media (max-width: 1064px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1vh;
  }
}
